* {
	box-sizing: border-box;
}

body, html {
	font-size: 16px;
	font-family: "Monserrat", sans-serif;
	color: rgba(0, 0, 0, 0.87);
	line-height: 1.6;
	margin: 0;
}

.header-bar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	background: #FFFFFF;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	z-index: 3;
	width: 100%;
}

.navbar {
	align-items: center;
}

.navbar a {
	color: #9F9F9F;
	text-decoration: none;
	font-weight: 500px;
	margin: 0 53px;
}

.navbar a:hover, .navbar a.active {
	color: #000000;
}

.socials a {
	padding: 0 12px;
	opacity: 0.5;
}

.socials a:hover {
	opacity: 1;
}

.header-img {
	height: 427px;
	background: no-repeat center center / cover url(../images/header.png);
}

.body-content {
	display: flex;
}

.main {
	position: relative;
	width: calc(100% - 378px);
	background: #FFFFFF;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
	z-index: 2;
}

.side-bar {
	position: relative;
	z-index: 1;
	width: 375px;
	background: #FBFBFB;
	padding: 0 40px;
}

.sidebar-title {
	font-size: 30px;
	color: #000000;
	margin: 35px 0;
}

.side-bar a {
	color: #9F9F9F;
	text-decoration: none;
}

.side-bar a:hover {
	text-decoration: underline;
}

.side-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 17px;
}

.side-bar li {
	padding: 6px 0;
}

.side-bar hr {
	margin: 50px 0;
	border: none;
	height: 1px;
	background: #C4C4C4;
}

.container {
	margin: 0 auto;
	max-width: 940px;
}
.article {
	position: relative;
	margin: 50px;
	padding-left: 333px;
	min-height: 203px;
}

.article-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 308px;
	margin-right: 25px;
}

.article-img img {
	width: 100%;
	height: auto;
}

.article-date {
	font-weight: 300;
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 5px;
}

.article-title {
	font-size: 2.25rem;
	line-height: 1.1;
	font-family: "Cardo", serif;
	margin: 0 0 15px 0;
}

.article-title a {
	color: inherit;
	text-decoration: none;
}

.article-title a:hover {
	text-decoration: underline;
}
