* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Monserrat", sans-serif;
	color: rgba(0, 0, 0, 0.87);
	line-height: 1.6;
	margin: 0;
}

.header-bar {
	background: #FFFFFF;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}

.header-bar nav {
	float: left;
}

.header-bar nav a {
	color: #9F9F9F;
	text-decoration: none;
	font-weight: 500px;
	margin: 0 53px;
}

.header-bar nav a:hover, .header-bar nav a.active {
	color: #000000;
}

.socials {
	float: right;
}

.socials a {
	padding: 0 12px;
	opacity: 0.5;
}

.socials a:hover {
	opacity: 1;
}

.header-img {
	height: 427px;
	background: no-repeat center center / cover url(../images/header.png);
}

.main {
	float: left;
	width: calc(100% - 378px);
	background: #FFFFFF;
}

.side-bar {
	float: right;
	width: 375px;
	background: #FBFBFB;
	padding: 0 40px;
}

.footer {
	clear: both;
}

.sidebar-title {
	font-size: 30px;
	color: #000000;
	margin: 35px 0;
}

/* .sidebar-title:first-child {
	margin-top: 0;
} */

.side-bar a {
	color: #9F9F9F;
	text-decoration: none;
}

.side-bar a:hover {
	text-decoration: underline;
}

.side-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 17px;
}

.side-bar li {
	padding: 6px 0;
}

.side-bar hr {
	margin: 50px 0;
	background: #C4C4C4;
}
